<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/attendance.css') }}">
    <!-- <link rel="stylesheet" href=""> -->
</head>
<body>
    <h1  class="headline">Give Your Attendace Here</h1>
    <div>
  
      <img class="videoFrame" src="{{ url_for('video') }}" width="50%" />
  
    </div>
    
</body>
</html>