<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Microsoft Engage project</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<h1 class="headline">Attendance system through Face recognition</h1>

<body>
  <div class="nav">
    <a class="button" href="/upload">Add Student Data</a>
    <a class="button" href="/attendance">Give Attendace</a>
    <a class="button" href="/table">Attendance Table</a>
  </div>
</body>
</html>